body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}
.container {
    outline: 1px  solid tomato;

    width: 1200px;
    
    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}
.link {
    text-decoration: none;
    color: currentColor;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Header */
.header-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 60px;
    
}
.navigation-list {
    display:flex;
    
}
.navigation-item:not(:last-child) {
   margin-right: 40px; 
   align-items: center;
   justify-content: center;
}
.logo {
    margin-right: auto;
    text-decoration: none;
}
.btn {
    margin-left: auto;
}
    

/* .header-group{
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}
.header-group-list {
    display: flex;
    margin-right: 25px;
}
.header-group-item:not(:last-child) {
    margin-right: 50px;
} */

/* Hero */

.section-hero {
    max-width: 1600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(63, 157, 207, 0.195);
}

.hero-container {
    margin-top: 100px;
    
}
 
.hero-title {
    width: 500px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;

    margin-bottom: 30px;
}
.hero-text {
    width: 450px;
    font-weight: 200;
    font-size: 30px;
    line-height: 1.18;
    letter-spacing: 0.05em;
}
